<div class="body">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="https://www.conecsa.com.br">
        <img
          src="../../../assets/images/logo_conecsa_1.png"
          alt=""
          width="150"
          class="d-inline-block align-text-top"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home"
              >Registros</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/alarm-history"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Histórico de registros</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="**"
              ariaCurrentWhenActive="page"
              >Status do sistema</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
