<div class="carousel">
  <i class="slide-button-left" (click)="onMousedown($event)" (click)="onMouseup()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
    </svg>
  </i>
  <div class="content">
    @for (record of records; track record.id) {
      <app-record-card
        [data]="record.data_hora_peca_1"
        [matricula]="record.matricula"
        [desenho_motor]="record.desenho_motor"
        [local_peca_1]="record.local_peca_1"
        [local_peca_2]="record.local_peca_2"
        >
      </app-record-card>
  } @empty {
    <p>Nenhum registro encontrado</p>
  }

  </div>
  <i class="slide-button-right" (click)="onMousedown($event)" (click)="onMouseup()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
    </svg>
  </i>
</div>
