.content {
  display: flex;
  overflow-x: hidden;
  margin-left: 15vh;
  margin-right: 15vh;
}

.carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  transition: transform 0.5s ease;
}

.slide-button-left {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  background-color:#f5f5f5;
  color: black;
  font-size: 2rem;
  text-align: center;
  line-height: 5vw;
  cursor: pointer;
  z-index: 1;
}

.slide-button-left:hover {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  width: 5vw;
  height: 5vw;

  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 2rem;
  text-align: center;
  line-height: 5vw;
  cursor: pointer;
  z-index: 1;
}

.slide-button-right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-100%);
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  background-color: #f5f5f5;
  color: black;
  font-size: 2rem;
  text-align: center;
  line-height: 5vw;
  cursor: pointer;
  z-index: 1;
}

.slide-button-right:hover {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-100%);
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 2rem;
  text-align: center;
  line-height: 5vw;
  cursor: pointer;
  z-index: 1;
}
