<div class="card" style="width: 100%; width: 18rem;">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="'data:image/jpeg;base64,' + imagem_peca_1" alt="Imagem peça 1" style="width: 100%; height: auto;" />
      </div>
      <div class="carousel-caption">
        <h3>Peça 1</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="'data:image/jpeg;base64,' + imagem_peca_2" alt="Imagem peça 2" style="width: 100%; height: auto;" />
      </div>
      <div class="carousel-caption">
        <h3>Peça 2</h3>
      </div>
    </ng-template>
  </ngb-carousel>

  <div class="card-body">
    <h5 class="card-title">{{data | date: 'dd/MM/yyyy'}}</h5>
    <p class="card-text">Matrícula: {{matricula}}</p>
    <p class="card-text">Desenho do motor: {{desenho_motor}}</p>
    <a class="btn btn-primary" (click)="generatePDF()">Exportar relatório</a>
  </div>
</div>
